In [1]:
import pandas as pd

# Login using e.g. `huggingface-cli login` to access this dataset
hepsiburada_df = pd.read_parquet("hf://datasets/alibayram/hepsiburada_yorumlar/hepsiburadaYorumlar.parquet")

/Users/alibayram/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [4]:
hepsiburada_df.head()

,Puan,Baslik,Yorum
0,100,Beş Yıldız,Çocukluğumu hatırlattıbana eskiden hep sabunla...
1,60,güzel,sorunsuz teslimat ürün güzel tebrikler
2,100,Hızlı kargo,Ürünü kullandıktan sonra dayanabilirlik süresi...
3,100,Fiyat performans ürünü,bir çok yer ve mağaza geztik fakat en uygunu b...
4,100,Beş Yıldız,Paranızın karşılığını alacağınız güzel bir ürü...

In [6]:
# count of Yorumm per Puan
hepsiburada_df['Puan'].value_counts()

Puan
100    1792415
80      451369
60      223862
20      119928
40       69499
Name: count, dtype: int64

In [7]:
beyazperde_df = pd.read_parquet("hf://datasets/alibayram/beyazperde_yorumlar/beyazperdeYorumlar.parquet")
beyazperde_df.head()

  Puan                                              Yorum
0  4,0  Benim tarzım filmlerden en güzel olanlarından ...
1  4,0  Çok etkileyici bir filmdi herkese tavsiye eder...
2  3,0  kitabını okuduktan sonra filmini izlediğim içi...
3  3,0  kitabını çok beğenmiştm ama filmi izleyince sa...
4  4,0  Eğer bir dram filmi arıyosanız bu filmi izleme...

In [8]:
beyazperde_df['Puan'].value_counts()

Puan
4,0    50993
5,0    49624
2,5    23774
4,5    22455
3,5    16386
3,0     8900
1,0     7806
0,5     7108
2,0     3136
1,5     1892
Name: count, dtype: int64

In [9]:
kitapyurdu_df = pd.read_parquet("hf://datasets/alibayram/kitapyurdu_yorumlar/kitapYurduYorumlar.parquet")
kitapyurdu_df.head()

   Puan                                              Yorum
0     5                                   Enine boyuna aşk
1     3  Muhalefetin kendine bir özeleştiri yapması ger...
2     5  Oğuzname Türklerin en eski destanlarından Çıkı...
3     5  İlgi çekici ve sürükleyici bir roman Konusunun...
4     3  antik Mısır hakkında yazılmış olan bir çok rom...

In [10]:
kitapyurdu_df['Puan'].value_counts()

Puan
5    294821
4     71622
3     25818
2      7173
1      5203
Name: count, dtype: int64

In [11]:
yorumbudur_df = pd.read_parquet("hf://datasets/alibayram/yorumbudur/tum_veri.parquet")
yorumbudur_df.head()

,Puan,Tarih,Baslik,Yorum,Konum,Yoruma verilen artı sayısı,Yoruma verilen eksi sayısı
0,100,2017-10-02,aşure için aldım,Ben aşure dağıtmak için aldım 3 yıldır kullanı...,SÖĞÜTLÜ - Sakarya,3,0
1,100,2019-01-24,Beş Yıldız,"sağlam paketleme , hızlı kargo , Teşekkürler",None,0,0
2,100,2018-03-28,Başarılı,Yulaf gevreği yemek için aldım gayet kullanışl...,None,0,0
3,100,2018-09-03,Beş Yıldız,Paketleme düzgündü ve oldukça hızlı ulaştı eli...,None,0,0
4,100,2017-10-03,Güzel,Tavsiye ederim,ÇEKMEKÖY - İstanbul,0,0

In [12]:
yorumbudur_df['Puan'].value_counts()

Puan
100    1713677
80      441948
60      221115
20      118103
40       68606
Name: count, dtype: int64

In [13]:
from datasets import load_dataset

# Login using e.g. `huggingface-cli login` to access this dataset
ds = load_dataset("alibayram/yorumbudur")

Downloading readme:   0%|          | 0.00/2.73k [00:00<?, ?B/s]

Downloading data:   0%|          | 0.00/286M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/2563449 [00:00<?, ? examples/s]

In [14]:
ds

DatasetDict({
    train: Dataset({
        features: ['Puan', 'Tarih', 'Baslik', 'Yorum', 'Konum', 'Yoruma verilen artı sayısı', 'Yoruma verilen eksi sayısı', '__index_level_0__'],
        num_rows: 2563449
    })
})

In [16]:
""" DatasetDict({
    train: Dataset({
        features: ['Puan', 'Tarih', 'Baslik', 'Yorum', 'Konum', 'Yoruma verilen artı sayısı', 'Yoruma verilen eksi sayısı', '__index_level_0__'],
        num_rows: 2563449
    })
}) """

# remove __index_level_0__ column from ds
ds = ds.remove_columns(['__index_level_0__'])
ds

DatasetDict({
    train: Dataset({
        features: ['Puan', 'Tarih', 'Baslik', 'Yorum', 'Konum', 'Yoruma verilen artı sayısı', 'Yoruma verilen eksi sayısı'],
        num_rows: 2563449
    })
})

In [17]:
# push ds to hub
ds.push_to_hub("alibayram/yorumbudur")

Uploading the dataset shards:   0%|          | 0/2 [00:00<?, ?it/s]

Creating parquet from Arrow format:   0%|          | 0/1282 [00:00<?, ?ba/s]

Creating parquet from Arrow format:   0%|          | 0/1282 [00:00<?, ?ba/s]

README.md:   0%|          | 0.00/2.73k [00:00<?, ?B/s]

CommitInfo(commit_url='https://huggingface.co/datasets/alibayram/yorumbudur/commit/82ae5951d9eb5224f89b8b36f704eb5204619e37', commit_message='Upload dataset', commit_description='', oid='82ae5951d9eb5224f89b8b36f704eb5204619e37', pr_url=None, repo_url=RepoUrl('https://huggingface.co/datasets/alibayram/yorumbudur', endpoint='https://huggingface.co', repo_type='dataset', repo_id='alibayram/yorumbudur'), pr_revision=None, pr_num=None)